<div class="row">
	<div class="large-12 columns">
		<h5>About</h5>

		<p>"Best free, simple, sports, picture, news, site of this generation, or maybe the next" - The New York Times</p>

		<h6>Work in progress!</h6>
		<p>This site will be a live feed of daily sports news with pictures (when available) from ESPN and Sports Illustrated.</p>
		<div>
			<p>Instructions:</p>
			<ul style="margin-left: 40px;">
				<li>View the thumbnails</li>
				<li>Click a thumbnail and glide through the articles with the arrows on your keyboard</li>
				<li>Click the headline for the details page</li>
				<li>Click "Full Story" to read original article</li>
				<li>Have fun!</li>
			</ul>
		</div>
		<p>This is a work in progress.  Please contact with suggestions or bugs!</p>
		<p><%= link_to "Contact", contact_path %></p>
	</div>
</div>