<h5>Sports Illustrated Headlines</h5>

<ul class="clearing-thumbs" data-clearing>
<% @si_headlines.map do |headline| %>
	
	<li><a class="ttt th th-item"><%= image_tag headline.image_url, data: { caption: "<a href=#{si_headline_path(headline)}>#{headline.headline}</a>" } %></a></li>

	<% end %>
</ul>

<div class="row">
	<div class="large-12 large-centered columns">
		<%= will_paginate @si_headlines %>
	</div>
</div>