<div class="row">
	<div class="large-12 columns">
		<div class="contact-success-section">
			<div class="container">
				<div class="contact-success-content">
					<h2>Thank you for your message!</h2>
					<p>I'll get back to you as soon as possible.</p>
					<%= link_to 'Home', root_path %>
				</div>
			</div>
		</div>
	</div>
</div>